/* scrolling */
html {
	scroll-behavior: smooth;

}

/* varbles */
:root {
	/* size */
	--size-0: 10px;



	/* font colors */

	--red--: rgb(173, 0, 0);
	--red2--: #E52F2F;
	--black--: rgb(0, 0, 0);
	--white--: #FFF;
	--green--: rgb(111, 255, 0);

	/* font sizes */
	--fontSize1--: 16px;
	--fontSize2--: 18px;
	--fontSize3--: 24px;
	--fontSize3--: 32px;
	/*  font sizes with calc*/
	--calcH1--: calc(1.5rem + 3vw);
	--calcH2--: calc(.8rem + 3vw);

	/* font Size in comparason to other fonts */
	--p1--: calc(1.5rem + 3vw);
	--p1_lineHeight--: calc(2.8vw + 5px);
	--height--: calc(90vh-30px);

}

.bigDiv {
	display: flex;
	flex-direction: row;
	background-color: var(--red--);
	padding: 3%;
	height: 50vh;

}

.leftDiv {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	/* align-items: center; */



}

.flexText {
	display: flex;
	color: var(--black--);
	width: 20px;
	display: flow-root;
	font-family: inter;
	height: fit-content;
	width: fit-content;



}

.rightDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;



}


body {

	padding: 60px;
	background-color: var(--black--);

}

.gridDiv {
	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 20px;
	position: relative;
}

.leftGrid {
	/* add no styling */

}

.rightGrid {
	height: 100vh;
	display: block;
	overflow-y: auto;
	display: grid;
	grid-template-rows: 2fr 1fr 2fr;
	gap: 20px;


	/* position: sticky; */
	top: 0px;
	color: var(--red--);
	/* padding: 24px; */
	position: sticky;

}


#what {
	font-family: "Inter", sans-serif;
	font-size: 100px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-weight: 800;
	color: antiquewhite;
	background-color: rgb(255, 0, 247);

}

#a {

	font-family: "gothique-mn", sans-serif;
	color: #000;
	font-size: 40px;
	background-color: var(--red--);
	align-content: center;
	justify-content: center;

}

.bentobox1:has(div) div {
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 50%;
	background-color: #FFF !important;
}

h2 {

	margin: 0;
}

.title1 {
	color: #000;
	font-family: Inter;
	font-size: 60px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;


}

.sectionBlack {
	color: var(--red--);
	writing-mode: horizontal-tb;
	padding: 40px;
}

/* FOR THE BIG QUOTE CONTAINER */
.textBox h1 {
	color: var(--red2--);
	text-align: left;
	font-family: Inter;
	font-size: 50.163px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	content: '';
	/* Gives an “empty” one to work with. */
	display: block;
	/* visibility: hidden; We don’t need to see it or click it. */
	margin: 0;
}


.divH1 {
	display: flex;
	flex-direction: row;
	align-content: center;
	color: bisque;
	padding-top: 20;

}

/* FOR THE QUOTE CONTAINER WITH TEXT AND DIV */
.quote {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-left: 5%;


}

/* FOR THE SMALL QUOTE CONTAINER */
.divH2 {
	display: flex;
	flex-direction: row;
	align-content: center;
	color: bisque;
	padding-top: 20;


}


/* 	FOR THE DIV NEXT TO THE SMALL QUOTE INSIDE OF THE CONTAINER */
.divH2:has(.leftBox) .leftBox {
	font-family: "Inter", sans-serif;
	color: var(--red2--);
	width: 20px;
	display: flow-root;
}

/* 	FOR THE DIV NEXT TO THE SMALL QUOTE INSIDE OF THE CONTAINER ON THE RIGHT*/
.rightNavUP:has(.leftBox) .leftBox {
	background-color: var(--black--);
	width: 20px;
	display: flow-root;
}

/* 	FOR THE SMALL QUOTE INSIDE OF THE CONTAINER */
.divH2:has(.textBox) .textBox {
	color: var(--red2--);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

/* FOR THE QUOTE ITS SELF */
.quoteBody {
	display: flex;
	height: fit-content;
	flex-direction: column;
	align-self: stretch;
	font-family: Inter;
	font-size: 18px;
	font-style: italic;
	font-weight: 200;
	line-height: normal;

}

/* for quotes */
/* .quoteH1 {
	display: flex;
	flex-direction: row;
	align-content: center;
	color: var(--red2--);

	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;

} */
/* left box for big div */
.leftBox {
	width: 30px;
	/* Example width */
	height: auto;
	/* Example height */
	background-color: var(--red--);
	margin-right: 20px;
}

/* left box for small div quotes */
.quoteH1 {

	display: flex;
	flex-direction: row;
	align-content: center;
	color: var(--red2--);

	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;


}


.title2 {
	color: var(--red--);
	text-align: center;
	font-family: Inter;
	font-size: 50.163px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;

}

.paragraph1 {
	color: var(--red--);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	hyphens: auto;
	-webkit-hyphens: auto;
	/* For Safari */
	-ms-hyphens: auto;
	/* For older versions of IE */
	word-break: break-word;
	word-wrap: break-word;

}

.poster {
	background-color: var(--white--);
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 50px;

}

.firstText {
	color: var(--red2--);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	/* virticle space and text wraps */
	line-height: var(--p1_lineHeight--);
	hyphens: manual;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.poster p:nth-child(3) {
	/* Your styles here */
	text-align: center;
}


.poster :not(.bigName, .firstText) {
	/* Apply your desired styles */

	color: var(--red2--);
	text-align: center;
	font-family: Inter;
	font-size: var(--calcH2--);
	font-style: italic;
	font-weight: 300;
	line-height: normal;
	text-transform: uppercase;
}


.bigName {
	color: var(--red2--);
	font-family: Inter;
	font-size: var(--calcH1--);
	font-style: italic;
	font-weight: 900;
	line-height: normal;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
	text-transform: uppercase;
	transition: .3s;


}

#research {

	color: var(--red2--);
	text-align: left;
	font-family: Inter;
	font-size: 50.163px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	content: '';
	display: block;
	margin: 0;
}


.bigName:hover {
	background: var(--red2--);
	color: var(--white--);

}

.rightNav {

	background-color: var(--red--);
	padding-right: 20px;
}

.rightNavUP {

	display: flex;
	padding: 5%;
	align-content: center;
	padding-bottom: 10px;
	color: var(--red2--);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;

}

.bentobox1 {
	background-color: var(--white--);
	height: 100%;
	width: 100%;
	display: flex;


	justify-content: center;
	/* Horizontally align */
	align-items: center;

}

.bentobox2 {
	background-color: var(--red--);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	/* Horizontally align */
	align-items: center;

}

#what2 {
	font-family: "Inter", sans-serif;
	font-size: 100px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-weight: 800;
	color: var(--black--);


}

h3 {

	font-size: 18px;
	word-break: break-all;

	font-weight: bold;
	unicode-bidi: isolate;


}


/* media Q */



/* large displayes up to the~2560px–3440px*/
@media (min-width: 2560px) and (max-width: 3440px) {

	.bigDiv {
		display: flex;
		flex-direction: row;
		background-color: var(--red--);
		padding: 3%;
		height: fit-content;

	}



}

/* ALL RULES APPLY WHEN SCREEN IS SMALLER THAN 1680px */

/* laptop displays 1440px–1680px */
@media (min-width: 1440px) and (max-width: 1680px) {
	
}

/* displays 375px–428px */
@media (min-width: 375px) and (max-width: 428px) {
	.gridDiv {
		display: none; /* Completely hide the grid */
	  }
	
	  .rightGrid {
		display: none; /* Completely hide the right grid */
	  }
}




/* displays smaller than 375 */
@media (max-width: 375px) {

	 .gridDiv {
    display: none; /* Completely hide the grid */
  }

  .rightGrid {
    display: none; /* Completely hide the right grid */
  }
}


/* .frameBox{
	background-color: black;
	height: 10vh;
    position: sticky;
    top: 0;
    margin-bottom: 1.5rem;
    margin-top: 3.5rem;
	display: flex;
    justify-content: center;
    flex-direction: column;


} */