/* varbles */
:root {
	/* size */
	--size-0: 10px;


	/* fonts */

	--red--: rgb(173, 0, 0);
	--black--: rgb(0, 0, 0);
	--white--: #FFF;
	--green--: rgb(111, 255, 0);
}

.bigDiv {
	display: flex;
	flex-direction: row;
	background-color: var(--red--);
	padding: 3%;
	height: calc(50vh-30px);
	
}

.leftDiv {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	/* align-items: center; */
	
	

}
p{
display: flex;



}
.rightDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

body {

	padding: 10%;
	background-color: var(--black--);

}

#what {
	font-family: "Inter", sans-serif;
	font-size: 100px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-weight: 800;

}

.title1 {
	color: #000;
	font-family: Inter;
	font-size: 60px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;


}

.article {
	color: var(--red--);
	writing-mode: horizontal-tb;
}

.title2 {
	color: var(--red--);
	text-align: center;
	font-family: Inter;
	font-size: 50.163px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;

}

.paragraph1 {
	color: var(--red--);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}
/* media Q */



/* large displayes up to the~2560px–3440px*/
@media (min-width: 2560px) and (max-width: 3440px) {}

/* ALL RULES APPLY WHEN SCREEN IS SMALLER THAN 1680px */

/* laptop displays 1440px–1680px */
@media (min-width: 1440px) and (max-width: 1680px) {



}

/* displays 375px–428px */
@media (min-width: 375px) and (max-width: 428px) {

	.leftDiv {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	

}

	}








/* displays smaller than 375 */
@media (max-width: 375px) {
	

}


/* .frameBox{
	background-color: black;
	height: 10vh;
    position: sticky;
    top: 0;
    margin-bottom: 1.5rem;
    margin-top: 3.5rem;
	display: flex;
    justify-content: center;
    flex-direction: column;


} */