/* DECLARING GLOBAL VARIBLES */
:root {
	--primary-color: #000000
	
	}

/* large displayes up to the~2560px–3440px*/
@media (min-width: 2560px) and (max-width: 3440px) {
	p {
		/* color: red; */

	}
}

/* ALL RULES APPLY WHEN SCREEN IS SMALLER THAN 1680px */

/* laptop displays 1440px–1680px */
@media (min-width: 1440px) and (max-width: 1680px) {
	flex-direction: column;
}

/* displays 375px–428px */
@media (min-width: 375px) and (max-width: 428px) {

	.mainbox{
		background-color: aqua;


	}

}






/* displays smaller than 375 */
@media (max-width: 375px) {
	p {
		color: green;

	}
	
}