body {
	background-color: rgb(0, 0, 0);
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10%;
}

.direction2 {

	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

}

* {

	margin: 0;

}

.left,
.middle,
.right {
	/* border: 5px solid; */
	/* border-color: rgb(55, 181, 59); */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.left,
.right {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: 20px;
	font-weight: 800;

}

.middle {
	font-family: "Inter", sans-serif;
	font-size: 100px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-weight: 800;
}

.middleSection {
	height: 60vh;
	color: aliceblue;
	text-align: center;
	padding-top: 40%;



}

.middleSection h1 {
	color: #FFF;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 5rem;
	line-height: normal;
	text-transform: capitalize;

}

.middleSection p {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.section-three-container {
	/* width: 50rem; */

	display: flex;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100%;
	justify-content: center;

}

.section-three-left {
	flex: 1;
	background-color: rgb(255, 219, 219);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

}

.script {
	transform: rotate(-45deg);
	font-size: 5rem;
	line-height: 3;

	font-family: "parfumerie-script", sans-serif;
	font-weight: 400;
	font-style: normal;

	position: absolute;

	width: 300%;

}



.foward {


	position: relative;
	z-index: 1;
	justify-content: center;
	align-items: center;


	background-color: rgb(173, 0, 0);
	width: auto;
	padding: 20px;
	height: 250px;
	display: flex;


}

.foward :nth-child(1) {
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;

	color: rgb(0, 0, 0);




}




.backward {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;



}

.a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;
	color: black;
	background-color: blue;
	z-index: 1;


}

.rightSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: rgb(173, 0, 0);
	z-index: 2;
	position: relative;


}

.row1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;
}



.row2 {
	color: rgb(111, 255, 0);


	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;

}

.section-three-left {
	display: flex;
	width: 50%;
	height: 100%;
	background-color: white;
	justify-content: center;
	align-items: center;
}

body {
	background-color: rgb(0, 0, 0);
	min-height: 50vh;
	display: block;
	align-items: center;
	justify-content: center;
	padding: 10%;
	flex-direction: column;
}

.direction2 {
	/* border: 5px solid; */
	/* border-color: rgb(255, 0, 0); */
	display: flex;
	flex: 3;
	justify-content: center;
	height: 100%;
	background-color: rgb(173, 0, 0);
	z-index: 2;
	flex-direction: row;
	position: relative;
}

/* media Q */

/* DECLARING GLOBAL VARIBLES */
:root {
	--primary-color: #000000
}

/* large displayes up to the~2560px–3440px*/
@media (min-width: 2560px) and (max-width: 3440px) {}

/* ALL RULES APPLY WHEN SCREEN IS SMALLER THAN 1680px */

/* laptop displays 1440px–1680px */
@media (min-width: 1440px) and (max-width: 1680px) {}

/* displays 375px–428px */
@media (min-width: 375px) and (max-width: 428px) {


	.section-three-container {
		/* width: 50rem; */

		display: flex;

		height: 100vh;

	}

	.container {
		background-color: rgb(53, 199, 197);
		width: 100%;
		height: 100vh;
		padding: 1em;
		display: flex;
		flex-direction: column;


	}

	.section-three-left {

		background-color: rgb(255, 219, 219);
		height: 10vh;
		display: flex;
		flex-direction: row;





	}

	.script {
		transform: rotate(-45deg);
		font-size: 2rem;
		line-height: 3;

		font-family: "parfumerie-script", sans-serif;
		font-weight: 400;
		font-style: normal;

		text-align: center;
		position: relative;
		width: 700px;
		left: -150px;




	}

}






/* displays smaller than 375 */
@media (max-width: 375px) {
	p {
		color: green;

	}

}


/* .frameBox{
	background-color: black;
	height: 10vh;
    position: sticky;
    top: 0;
    margin-bottom: 1.5rem;
    margin-top: 3.5rem;
	display: flex;
    justify-content: center;
    flex-direction: column;


} */