
/* varbles */
:root{
 /* size */
 --size-0: 10px;
 

/* fonts */

--red--: rgb(173, 0, 0);
--black--: rgb(0, 0, 0);
--white--: #FFF;
--green--: rgb(111, 255, 0);

}


body {
	background-color: var(--black--);
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10%;
}

.direction2 {

	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

}

* {

	margin: 0;

}

.left,
.middle,
.right {
	/* border: 5px solid; */
	/* border-color: rgb(55, 181, 59); */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.left,
.right {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: 20px;
	font-weight: 800;

}

.middle {
	font-family: "Inter", sans-serif;
	font-size: 100px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-weight: 800;
	display: flex;
}

.direction2 {
	/* border: 5px solid; */
	/* border-color: rgb(255, 0, 0); */
	display: flex;
	flex: 3;
	justify-content: center;
	height: 70%;
	background-color: var(--red--);
	z-index: 2;
	flex-direction: row;
	position: relative;
	
	
}
#scroll{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: var(--black--);
	position: relative;
	z-index: 2;
	height: 10%;
	font-family: Inter;
	line-height: 10px;
	font-size: 10px;
	font-weight: 600;
	writing-mode: horizontal-tb;
	unicode-bidi: bidi-override;
}

.middleSection {
	height: 60vh;
	color: var(--white--);
	text-align: center;
	
}

.middleSection h1 {
	color: var(--white--);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 5rem;
	line-height: normal;
	text-transform: capitalize;
	position: relative;
	z-index: 3;
}

.important {
	color: var(--white--);
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	height: 20%;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 3;
}

.section-three-container {
	/* width: 50rem; */

	display: flex;
	align-items: center;
	background-color: var(--white--);
	width: 100%;
	height: 100%;
	justify-content: center;
	position: relative;

}

.section-three-left {
	flex: 1;
	background-color: var(--white--);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

}
/* section-three-left:after { 
         
	content: "Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark   Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark Watermark "; 
	position: fixed; 
	transform: rotate(300deg); 
	-webkit-transform: rotate(300deg); 
	color: rgb(0, 255, 234); 
	top:0;                     
	z-index: -1; 
}  */

.script {
	/* top: 50%;
	left: 50%; */
	transform: rotate(-45deg);
	font-size: 50rem;
	line-height: normal;
	font-family: "parfumerie-script", sans-serif;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	text-overflow: inherit;

	color: var(--black--);
	transform: translate(-50% -50%);



}



.foward {


	position: relative;
	z-index: 1;
	justify-content: center;
	align-items: center;


	background-color: var(--red--);
	width: auto;
	padding: 20px;
	height: 250px;
	display: flex;


}

.foward :nth-child(1) {
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;
	color: var(--black--);
}




.backward {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;



}

.a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;
	color: black;
	background-color: var(--red--);
	z-index: 1;


}

.rightSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color:var(--red--);
	z-index: 2;
	position: relative;


}

.row1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;
}



.row2 {
	color: var(--green--);


	background-color:var(--black--);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	font-family: "gothique-mn", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 9rem;

}

.section-three-left {
	display: flex;
	width: 50%;
	height: 100%;
	background-color: var(--white--);
	justify-content: center;
	align-items: center;
}

body {
	background-color: var(--black--);
	min-height: 50vh;
	display: block;
	align-items: center;
	justify-content: center;
	padding: 10%;
	flex-direction: column;
}



/* media Q */

/* DECLARING GLOBAL VARIBLES */
:root {
	--primary-color: #000000
}

/* large displayes up to the~2560px–3440px*/
@media (min-width: 2560px) and (max-width: 3440px) {}

/* ALL RULES APPLY WHEN SCREEN IS SMALLER THAN 1680px */

/* laptop displays 1440px–1680px */
@media (min-width: 1440px) and (max-width: 1680px) {}

/* displays 375px–428px */
@media (min-width: 375px) and (max-width: 428px) {

	.direction2{
		height: calc(100vh - 80px);
	}


	.section-three-container {
		/* width: 50rem; */

		display: flex;
		flex-direction: column;
		height: 100vh;

	}

	.container {
		background-color: rgb(53, 199, 197);
		width: 100%;
		height: 100vh;
		padding: 1em;
		display: flex;
		flex-direction: column;


	}

	.section-three-left {

		background-color: rgb(255, 219, 219);
		height: 10vh;
		display: flex;
		flex-direction: row;
	}

	.script {
		transform: rotate(-45deg);
		font-size: 2rem;
		line-height: 3;

		font-family: "parfumerie-script", sans-serif;
		font-weight: 400;
		font-style: normal;

		text-align: center;
		position: relative;
		width: 700px;
		left: -150px;




	}

}






/* displays smaller than 375 */
@media (max-width: 375px) {
	.script {
		
		font-size: 20rem;}
	

}


/* .frameBox{
	background-color: black;
	height: 10vh;
    position: sticky;
    top: 0;
    margin-bottom: 1.5rem;
    margin-top: 3.5rem;
	display: flex;
    justify-content: center;
    flex-direction: column;


} */